*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    background-color: black;
    color: white;
}
.container{
    /* border: 1px solid red; */
    width: 80vw;
    margin: auto;
    text-align: center;
    height: 80vh;
    margin-top: 10vh;
    background-color: whitesmoke;
    color: brown;

}
button{
    width: 80px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: wheat;
    height: 30px;
    /* margin-top: 150px; */
}
.hayone{
   
    padding-top: 70px;
}
#display{
    display: inline-block;
}
#output{
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid gray;
}
#answer{
    margin-top: 20px;
    margin-bottom: 60px;
}

